body{
    text-align: center;
    border: 2px solid red;
    font-family: ui-monospace;
    background-color: beige;
    font-family: "Madimi One", sans-serif;
    font-weight: 800;
}

/* Custom button style */
.button-class {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Add any additional styles as needed */
